In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1620,tt0361862,5000000,8203235,The Machinist,Christian Bale|Jennifer Jason Leigh|Aitana SÃ¡...,Brad Anderson,A little guilt goes a long way...,"The Machinist is the story of Trevor Reznik, a...",101,Thriller|Drama,Filmax Entertainment|Castelao Producciones|Can...,2/9/2004,7.2,2004
1302,tt0884726,70000000,18662027,Legends of Oz: Dorothy's Return,Lea Michele|Dan Aykroyd|Patrick Stewart|Hugh D...,Dan St. Pierre,There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only ...",88,Animation|Music|Family,Prana Animation Studios|Summertime Entertainment,6/13/2013,6.1,2013
1012,tt1707386,61000000,441809770,Les MisÃ©rables,Hugh Jackman|Russell Crowe|Anne Hathaway|Amand...,Tom Hooper,Fight. Dream. Hope. Love.,An adaptation of the successful stage musical ...,157,Drama|Music|Romance,Universal Pictures|Relativity Media|CAMERON MA...,12/18/2012,7.0,2012
33,tt1051904,58000000,150170815,Goosebumps,Jack Black|Dylan Minnette|Odeya Rush|Amy Ryan|...,Rob Letterman,The stories are alive.,A teenager teams up with the daughter of young...,103,Adventure|Horror|Comedy,Columbia Pictures|Original Film|Scholastic Ent...,8/5/2015,6.2,2015
412,tt1193631,30000000,159291809,Step Up 3D,Rick Malambri|Adam G. Sevani|Joe Slaughter|Sha...,Jon M. Chu,Two Worlds. One Dream.,A tight-knit group of New York City street dan...,107,Drama|Romance,Summit Entertainment|Touchstone Pictures,8/4/2010,6.5,2010

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [4]:
data[['vote_average','original_title']].sort_values('vote_average', ascending=False).head(25)

      vote_average                                     original_title
599            8.1                                    The Dark Knight
118            8.0                                       Interstellar
125            8.0                                 The Imitation Game
9              8.0                                         Inside Out
34             8.0                                               Room
1183           7.9                            The Wolf of Wall Street
128            7.9                                          Gone Girl
1191           7.9                                   12 Years a Slave
119            7.9                            Guardians of the Galaxy
1081           7.9      The Lord of the Rings: The Return of the King
1800           7.9                                            Memento
370            7.9                                          Inception
872            7.9                                        The Pianist
138            7.9                           The Grand Budapest Hotel
1188           7.8                                                Her
28             7.8                                          Spotlight
124            7.8                                         Big Hero 6
177            7.8                             The Fault in Our Stars
863            7.8              The Lord of the Rings: The Two Towers
1688           7.8                                There Will Be Blood
155            7.8                           The Theory of Everything
496            7.8  The Lord of the Rings: The Fellowship of the Ring
1444           7.8                                       The Prestige
1563           7.8              Eternal Sunshine of the Spotless Mind
316            7.8                                           3 Idiots

# Предобработка

In [5]:
answers = {}  # создадим словарь для ответов
data['profit'] = data['revenue'] - data['budget']
# тут другие ваши предобработки колонок например:
def split_col(series):
    return series.str.split('|')

def mounth_new(date):
    return date.apply(lambda x: x[:x.find('/')])

def most_common_data(data):
    #считает количество слов в столбце
    count = collections.Counter()
    new_data = data.str.split('|')
    for lst in new_data:
        for word in lst:
            count[word] += 1
    return count.most_common(1)

def split_exp(data):
    return data.str.split('|').explode()
    

new_data = data.copy()
new_data['mounth'] = new_data['release_date'].apply(lambda x: x[:x.find('/')])
# the time given in the dataset is in string format.
# So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
data.sort_values('budget', ascending=False).iloc[0]['original_title']

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [8]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
# думаю логику работы с этим словарем вы уже поняли,
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [10]:
data.sort_values('runtime', ascending=False).iloc[0]['original_title']

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [12]:
data.sort_values('runtime').iloc[0]['original_title']

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [13]:
answers['4'] = '2. 110'

In [14]:
round(data['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [15]:
answers['5'] = '1. 107'

In [16]:
round(data['runtime'].median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
answers['6'] = '5. Avatar (tt0499549)'

In [18]:
data.sort_values('profit', ascending=False).iloc[0]['original_title']

'Avatar'

# 7. Какой фильм самый убыточный?

In [19]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [20]:
data.sort_values('profit').iloc[0]['original_title']

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [21]:
answers['8'] = '1. 1478'

In [72]:
data[data['profit'] > 0].shape[0]

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [23]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [24]:
data[data['release_year'] == 2008].sort_values(
    'revenue', ascending=False).iloc[0]['original_title']

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [25]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [26]:
data.query('2012 <= release_year <= 2014').sort_values(
    'profit').iloc[0]['original_title']

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [27]:
answers['11'] = '3. Drama'

In [28]:
most_common_data(data['genres'])

[('Drama', 782)]

ВАРИАНТ 2

In [29]:
data['genres'].str.split('|').explode().value_counts().index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
answers['12'] = '1. Drama'

In [31]:
split_exp(data[data['profit'] > 0]['genres']).value_counts().index[0]

'Drama'

ВАРИАНТ 2

In [32]:
most_common_data(data[data['profit'] > 0]['genres'])

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [33]:
answers['13'] = '5. Peter Jackson'

In [34]:
new_data = data.copy()
new_data['director'] = new_data['director'].str.split('|')
new_data.explode('director').groupby('director')[
    'revenue'].sum().sort_values().index[-1]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [35]:
answers['14'] = '3. Robert Rodriguez'

In [36]:
data[data['genres'].str.contains('Action')]['director'].str.split(
    '|').explode().value_counts().index[0]

'Robert Rodriguez'

In [37]:
split_exp(data[data['genres'].str.contains('Action')]
          ['director']).value_counts().index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [38]:
answers['15'] = '3. Chris Hemsworth'

In [39]:
new_data = data[data['release_year'] == 2012][['cast', 'revenue']]
new_data['actors'] = new_data['cast'].str.split('|')
new_data = new_data.explode('actors')
new_data.groupby('actors')['revenue'].sum().sort_values().index[-1]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [40]:
answers['16'] = '3. Matt Damon'

In [41]:
data[data['budget'] > data['budget'].mean()]['cast'].str.split(
    '|').explode().value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [42]:
answers['17'] = '2. Action'

In [43]:
new_data = data[data['cast'].str.contains('Nicolas Cage')]
split_col(new_data['genres']).explode().value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [44]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [45]:
new_data = data[data['production_companies'].str.contains(
    'Paramount Pictures')]
new_data[['original_title', 'profit']].sort_values(
    'profit').iloc[0]['original_title']

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [46]:
answers['19'] = '5. 2015'

In [47]:
data.groupby('release_year')['revenue'].sum().sort_values().index[-1]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [48]:
answers['20'] = '1. 2014'

In [49]:
data[data['production_companies'].str.contains('Warner Bros')].groupby(
    'release_year')['profit'].sum().sort_values().index[-1]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [50]:
answers['21'] = '4. Сентябрь'

In [51]:
new_data = data.copy()
mounth_new(new_data['release_date']).value_counts().index[0]

'9'

ВАРИАНТ 2

In [52]:
new_data = data.copy()
new_data['release_date'] = pd.to_datetime(new_data['release_date'])
new_data['mounth'] = new_data['release_date'].dt.month
new_data['mounth'].value_counts().index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [53]:
answers['22'] = '2. 450'

In [54]:
new_data = data.copy()
new_data['mounth'] = new_data['release_date'].apply(lambda x: x[:x.find('/')])
new_data['mounth'].value_counts().loc[['6', '7', '8']].sum()

450

ВАРИАНТ 2

In [55]:
new_data = data.copy()
new_data['release_date'] = pd.to_datetime(new_data['release_date'])
new_data['mounth'] = new_data['release_date'].dt.month
new_data['mounth'].value_counts().loc[[6, 7, 8]].sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [56]:
answers['23'] = '5. Peter Jackson'

In [57]:
new_data = data.copy()
new_data['mounth'] = new_data['release_date'].apply(lambda x: x[:x.find('/')])
winter_data = new_data[new_data['mounth'].isin(['12', '1', '2'])]
winter_data['director'].str.split('|').explode().value_counts().index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [58]:
answers['24'] = '5. Four By Two Productions'

In [59]:
new_data = data.copy()
new_data['length_film'] = new_data['original_title'].apply(lambda x: len(x))
new_data = new_data[['production_companies', 'length_film']]
new_data['production_companies'] = new_data['production_companies'].str.split('|')
new_data.explode('production_companies').groupby('production_companies')[
    'length_film'].mean().sort_values().index[-1]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [60]:
answers['25'] = '3. Midnight Picture Show'

In [61]:
new_data = data.copy()
new_data['words_overview'] = new_data['overview'].str.split(' ')
new_data['words_overview'] = new_data['words_overview'].apply(len)
new_data = new_data[['production_companies', 'words_overview']]
new_data['production_companies'] = new_data['production_companies'].str.split( '|')
new_data.explode('production_companies').groupby('production_companies')[
    'words_overview'].mean().sort_values().index[-1]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [62]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [63]:
new_data = data.copy()
new_data = new_data[['vote_average', 'original_title']]
new_data = new_data.query('vote_average >= vote_average.quantile(0.99)')
title = new_data['original_title'].to_list()
set('Inside Out, The Dark Knight, 12 Years a Slave'.split(', ')).issubset(title)

True

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [64]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [65]:
new_data = data.copy()
cast = new_data['cast'].str.split('|')
couples_of_actors = []

for line in cast:
    line = sorted(line)
    combinations_actors = list(combinations(line, 2))

    for combination in combinations_actors:
        couples_of_actors.append(combination)

collections.Counter(couples_of_actors).most_common(3)

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8)]

# Submission

In [66]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [67]:
# и убедиться что ни чего не пропустил)
len(answers)

27