In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
from itertools import combinations

In [4]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1140,tt0316356,22000000,68296293,Open Range,Kevin Costner|Robert Duvall|Michael Gambon|Mic...,Kevin Costner,No place to run. No reason to hide.,A former gunslinger is forced to take up arms ...,139,Western,Tig Productions|Touchstone Pictures|Beacon Pic...,8/29/2003,6.8,2003
1386,tt0417217,35000000,30526509,Two for the Money,Al Pacino|Matthew McConaughey|Rene Russo|Arman...,D.J. Caruso,How much will you risk?,A former college athlete joins forces with a s...,122,Comedy|Crime|Drama|Thriller,Universal Pictures|Morgan Creek Productions,10/7/2005,5.9,2005
776,tt1583420,30000000,36160375,Larry Crowne,Tom Hanks|Julia Roberts|Bryan Cranston|Cedric ...,Tom Hanks,Rediscover life and love,"After losing his job, a middle-aged man reinve...",98,Comedy|Romance|Drama,Universal Pictures|Playtone Productions|Vendom...,6/30/2011,5.6,2011
1303,tt1869716,6500000,2401510,The East,Brit Marling|Alexander SkarsgÃ¥rd|Ellen Page|T...,Zal Batmanglij,"Spy on us, we'll spy on you.",An operative for an elite private intelligence...,116,Drama|Thriller,Scott Free Productions,5/31/2013,6.3,2013
1007,tt1374992,60000000,8106475,Upside Down,Kirsten Dunst|Jim Sturgess|Timothy Spall|James...,Juan Diego Solanas,Two worlds. One future.,In an alternate universe where twinned worlds ...,104,Romance|Science Fiction|Drama|Fantasy,Onyx Films|Studio 37|Jouror Productions|France...,9/27/2012,6.1,2012

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [6]:
answers = {}  # создадим словарь для ответов
data['profit'] = data['revenue'] - data['budget']
# тут другие ваши предобработки колонок например:

# the time given in the dataset is in string format.
# So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [8]:
# тут пишем ваш код для решения данного вопроса:
data.sort_values('budget', ascending=False).iloc[0]['original_title']

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [9]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
# думаю логику работы с этим словарем вы уже поняли,
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [11]:
data.sort_values('runtime', ascending=False).iloc[0]['original_title']

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [13]:
data.sort_values('runtime').iloc[0]['original_title']

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [14]:
answers['4'] = '2. 110'

In [15]:
round(data['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [16]:
answers['5'] = '1. 107'

In [17]:
round(data['runtime'].median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
answers['6'] = '5. Avatar (tt0499549)'

In [19]:
data.sort_values('profit', ascending=False).iloc[0]['original_title']

'Avatar'

# 7. Какой фильм самый убыточный?

In [20]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [21]:
data.sort_values('profit').iloc[0]['original_title']

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [22]:
answers['8'] = '1. 1478'

In [23]:
data[data['profit'] > 0].imdb_id.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [24]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [25]:
data[data['release_year'] == 2008].sort_values(
    'revenue', ascending=False).iloc[0]['original_title']

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [26]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [27]:
data.query('2012 <= release_year <= 2014').sort_values(
    'profit').iloc[0]['original_title']

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [28]:
answers['11'] = '3. Drama'

In [29]:
genres = []

for line in data['genres'].str.split('|'):
    for genre in line:
        genres.append(genre)

collections.Counter(genres).most_common()[0][0]

'Drama'

ВАРИАНТ 2

In [30]:
data['genres'].str.split('|').explode().value_counts().index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [31]:
answers['12'] = '1. Drama'

In [32]:
data[data['profit'] > 0]['genres'].str.split(
    '|').explode().value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [33]:
answers['13'] = '5. Peter Jackson'

In [34]:
new_data = data.copy()
new_data['director'] = new_data['director'].str.split('|')
new_data.explode('director').groupby('director')[
    'revenue'].sum().sort_values().index[-1]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [35]:
answers['14'] = '3. Robert Rodriguez'

In [36]:
data[data['genres'].str.contains('Action')]['director'].str.split(
    '|').explode().value_counts().index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [37]:
answers['15'] = '3. Chris Hemsworth'

In [38]:
new_data = data[data['release_year'] == 2012][['cast', 'revenue']]
new_data['actors'] = new_data['cast'].str.split('|')
new_data = new_data.explode('actors')
new_data.groupby('actors')['revenue'].sum().sort_values().index[-1]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [39]:
answers['16'] = '3. Matt Damon'

In [40]:
data[data['budget'] > data['budget'].mean()]['cast'].str.split(
    '|').explode().value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [41]:
answers['17'] = '2. Action'

In [42]:
new_data = data[data['cast'].str.contains('Nicolas Cage')]
new_data['genres'].str.split('|').explode().value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [43]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [44]:
new_data = data[data['production_companies'].str.contains(
    'Paramount Pictures')]
new_data[['original_title', 'profit']].sort_values(
    'profit').iloc[0]['original_title']

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [45]:
answers['19'] = '5. 2015'

In [46]:
data.groupby('release_year')['revenue'].sum().sort_values().index[-1]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [47]:
answers['20'] = '1. 2014'

In [48]:
data[data['production_companies'].str.contains('Warner Bros')].groupby(
    'release_year')['profit'].sum().sort_values().index[-1]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [49]:
answers['21'] = '4. Сентябрь'

In [50]:
new_data = data.copy()
new_data['mounth'] = new_data['release_date'].apply(lambda x: x[:x.find('/')])
new_data['mounth'].value_counts().index[0]

'9'

ВАРИАНТ 2

In [51]:
new_data = data.copy()
new_data['release_date'] = pd.to_datetime(new_data['release_date'])
new_data['mounth'] = new_data['release_date'].dt.month
new_data['mounth'].value_counts().index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [52]:
answers['22'] = '2. 450'

In [104]:
new_data = data.copy()
new_data['mounth'] = new_data['release_date'].apply(lambda x: x[:x.find('/')])
new_data['mounth'].value_counts().loc[['6', '7', '8']].sum()

450

ВАРИАНТ 2

In [97]:
new_data = data.copy()
new_data['release_date'] = pd.to_datetime(new_data['release_date'])
new_data['mounth'] = new_data['release_date'].dt.month
new_data['mounth'].value_counts().loc[[6, 7, 8]].sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [54]:
answers['23'] = '5. Peter Jackson'

In [55]:
new_data = data.copy()
new_data['mounth'] = new_data['release_date'].apply(lambda x: x[:x.find('/')])
winter_data = new_data[new_data['mounth'].isin(['12', '1', '2'])]
winter_data['director'].str.split('|').explode().value_counts().index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [56]:
answers['24'] = '5. Four By Two Productions'

In [57]:
new_data = data.copy()
new_data['length_film'] = new_data['original_title'].apply(lambda x: len(x))
new_data = new_data[['production_companies', 'length_film']]
new_data['production_companies'] = new_data['production_companies'].str.split('|')
new_data.explode('production_companies').groupby('production_companies')[
    'length_film'].mean().sort_values().index[-1]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [58]:
answers['25'] = '3. Midnight Picture Show'

In [59]:
new_data = data.copy()
new_data['words_overview'] = new_data['overview'].str.split(' ')
new_data['words_overview'] = new_data['words_overview'].apply(len)
new_data = new_data[['production_companies', 'words_overview']]
new_data['production_companies'] = new_data['production_companies'].str.split( '|')
new_data.explode('production_companies').groupby('production_companies')[
    'words_overview'].mean().sort_values().index[-1]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [60]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [61]:
new_data = data.copy()
new_data = new_data[['vote_average', 'original_title']]
new_data = new_data.query('vote_average >= vote_average.quantile(0.99)')
title = new_data['original_title'].to_list()
set('Inside Out, The Dark Knight, 12 Years a Slave'.split(', ')).issubset(title)

True

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [62]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [63]:
new_data = data.copy()
cast = new_data['cast'].str.split('|')
couples_of_actors = []

for line in cast:
    line = sorted(line)
    combinations_actors = list(combinations(line, 2))

    for combination in combinations_actors:
        couples_of_actors.append(combination)

collections.Counter(couples_of_actors).most_common()[:3]

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8)]

# Submission

In [64]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [65]:
# и убедиться что ни чего не пропустил)
len(answers)

27