In [82]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
from itertools import combinations

In [83]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1844,tt0190138,41300000,106371651,The Whole Nine Yards,Bruce Willis|Matthew Perry|Rosanna Arquette|Mi...,Jonathan Lynn,"In the heart of suburbia, a hit man with heart...",A mobster named Jimmy the Tulip agrees to coop...,98,Comedy|Crime,Franchise Pictures|Warner Bros.|Morgan Creek P...,2/18/2000,6.0,2000
959,tt0267248,25000000,10719357,Abandon,Katie Holmes|Benjamin Bratt|Charlie Hunnam|Zoo...,Stephen Gaghan,Watch who you leave behind.,A psychological thriller about a senior at one...,99,Drama|Mystery|Thriller,Paramount Pictures|Spyglass Entertainment|Touc...,10/14/2002,4.9,2002
1708,tt0448134,50000000,32017803,Sunshine,Cillian Murphy|Rose Byrne|Chris Evans|Michelle...,Danny Boyle,"If the sun dies, so do we.",50 years from now the sun is dying and life on...,107,Science Fiction|Thriller,DNA Films|Ingenious Film Partners|UK Film Coun...,4/5/2007,6.8,2007
1700,tt0461770,85000000,340487652,Enchanted,Patrick Dempsey|Amy Adams|James Marsden|Timoth...,Kevin Lima,This fairytale princess is about to meet a rea...,The beautiful princess Giselle is banished by ...,107,Comedy|Family|Fantasy|Romance,Walt Disney Pictures|Josephson Entertainment|A...,11/20/2007,6.6,2007
1669,tt0449088,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/2007,6.8,2007

In [84]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [85]:
answers = {}  # создадим словарь для ответов
data['profit'] = data['revenue'] - data['budget']
# тут другие ваши предобработки колонок например:

# the time given in the dataset is in string format.
# So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [86]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [87]:
# тут пишем ваш код для решения данного вопроса:
data.sort_values('budget', ascending=False).iloc[0]['original_title']

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [88]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [89]:
# думаю логику работы с этим словарем вы уже поняли,
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [90]:
data.sort_values('runtime', ascending=False).iloc[0]['original_title']

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [91]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [92]:
data.sort_values('runtime').iloc[0]['original_title']

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [93]:
answers['4'] = '2. 110'

In [94]:
round(data['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [95]:
answers['5'] = '1. 107'

In [96]:
round(data['runtime'].median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [97]:
answers['6'] = '5. Avatar (tt0499549)'

In [98]:
data.sort_values('profit', ascending=False).iloc[0]['original_title']

'Avatar'

# 7. Какой фильм самый убыточный?

In [99]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [100]:
data.sort_values('profit').iloc[0]['original_title']

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [101]:
answers['8'] = '1. 1478'

In [102]:
data[data['profit'] > 0].imdb_id.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [103]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [104]:
data[data['release_year'] == 2008].sort_values(
    'revenue', ascending=False).iloc[0]['original_title']

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [105]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [106]:
data.query('2012 <= release_year <= 2014').sort_values(
    'profit').iloc[0]['original_title']

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [107]:
answers['11'] = '3. Drama'

In [108]:
genres = []

for line in data['genres'].str.split('|'):
    for genre in line:
        genres.append(genre)

collections.Counter(genres).most_common()[0][0]

'Drama'

ВАРИАНТ 2

In [109]:
data['genres'].str.split('|').explode().value_counts().index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [110]:
answers['12'] = '1. Drama'

In [111]:
data[data['profit'] > 0]['genres'].str.split(
    '|').explode().value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [112]:
answers['13'] = '5. Peter Jackson'

In [113]:
new_data = data.copy()
new_data['director'] = new_data['director'].str.split('|')
new_data.explode('director').groupby('director')[
    'revenue'].sum().sort_values().index[-1]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [114]:
answers['14'] = '3. Robert Rodriguez'

In [115]:
data[data['genres'].str.contains('Action')]['director'].str.split(
    '|').explode().value_counts().index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [116]:
answers['15'] = '3. Chris Hemsworth'

In [117]:
new_data = data[data['release_year'] == 2012][['cast', 'revenue']]
new_data['actors'] = new_data['cast'].str.split('|')
new_data = new_data.explode('actors')
new_data.groupby('actors')['revenue'].sum().sort_values().index[-1]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [118]:
answers['16'] = '3. Matt Damon'

In [119]:
data[data['budget'] > data['budget'].mean()]['cast'].str.split(
    '|').explode().value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [120]:
answers['17'] = '2. Action'

In [121]:
new_data = data[data['cast'].str.contains('Nicolas Cage')]
new_data['genres'].str.split('|').explode().value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [122]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [123]:
new_data = data[data['production_companies'].str.contains(
    'Paramount Pictures')]
new_data[['original_title', 'profit']].sort_values(
    'profit').iloc[0]['original_title']

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [124]:
answers['19'] = '5. 2015'

In [125]:
data.groupby('release_year')['revenue'].sum().sort_values().index[-1]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [126]:
answers['20'] = '1. 2014'

In [127]:
data[data['production_companies'].str.contains('Warner Bros')].groupby(
    'release_year')['profit'].sum().sort_values().index[-1]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [128]:
answers['21'] = '4. Сентябрь'

In [129]:
new_data = data.copy()
new_data['mounth'] = new_data['release_date'].apply(lambda x: x[:x.find('/')])
new_data['mounth'].value_counts().index[0]

'9'

In [130]:
new_data = data.copy()
new_data['release_date'] = pd.to_datetime(new_data['release_date'])
new_data['mounth'] = new_data['release_date'].dt.month
new_data['mounth'].value_counts().index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [131]:
answers['22'] = '2. 450'

In [132]:
new_data = data.copy()
new_data['mounth'] = new_data['release_date'].apply(lambda x: x[:x.find('/')])
new_data.groupby('mounth')['imdb_id'].count()[['6', '7', '8']].sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [133]:
answers['23'] = '5. Peter Jackson'

In [134]:
new_data = data.copy()
new_data['mounth'] = new_data['release_date'].apply(lambda x: x[:x.find('/')])
winter_data = new_data[new_data['mounth'].isin(['12', '1', '2'])]
winter_data['director'].str.split('|').explode().value_counts().index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [135]:
answers['24'] = '5. Four By Two Productions'

In [136]:
new_data = data.copy()
new_data['length_film'] = new_data['original_title'].apply(lambda x: len(x))
new_data = new_data[['production_companies', 'length_film']]
new_data['production_companies'] = new_data['production_companies'].str.split('|')
new_data.explode('production_companies').groupby('production_companies')[
    'length_film'].mean().sort_values().index[-1]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [137]:
answers['25'] = '3. Midnight Picture Show'

In [138]:
new_data = data.copy()
new_data['words_overview'] = new_data['overview'].str.split(' ')
new_data['words_overview'] = new_data['words_overview'].apply(len)
new_data = new_data[['production_companies', 'words_overview']]
new_data['production_companies'] = new_data['production_companies'].str.split( '|')
new_data.explode('production_companies').groupby('production_companies')[
    'words_overview'].mean().sort_values().index[-1]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [139]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [140]:
new_data = data.copy()
new_data = new_data[['vote_average', 'original_title']]
new_data = new_data.query('vote_average >= vote_average.quantile(0.99)')
title = new_data['original_title'].to_list()
set('Inside Out, The Dark Knight, 12 Years a Slave'.split(', ')).issubset(title)

True

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [141]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [142]:
new_data = data.copy()
cast = new_data['cast'].str.split('|')
couples_of_actors = []

for line in cast:
    line = sorted(line)
    combinations_actors = list(combinations(line, 2))

    for combination in combinations_actors:
        couples_of_actors.append(combination)

collections.Counter(couples_of_actors).most_common()[:3]

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8)]

# Submission

In [143]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [144]:
# и убедиться что ни чего не пропустил)
len(answers)

27